@import './base.css';

:root {
  --site-padding: 2rem;
}

#app {
  padding: var(--site-padding);
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
  }
}
